<%= form_with(model: question, local: true) do |form| %>
<% if question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(question.errors.count, "error") %>
      prohibited this question from being saved:</h2>

    <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
    <select class="form-control" name="question">
      <option>Yes</option>
      <option>No</option>
      <option>Unsure</option>
    </select>
  </div>

<div class="actions">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>

<% end %>
