<h1>Answer Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <div class="form-group">
          <td><%= question.content %></td>
          <td>
            <%= link_to "Answer", "/questions/#{question.id}" %>
          </td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
