<a class="btn btn-primary" href="/questions" role="button">Back</a>

<h3 class="col-sm-10 row">
  <%= @question.content %>
</h3>


<% if @question.image_url(:thumb) != nil %>
  <%= image_tag(@question.image_url(:thumb).to_s) %>
  <br></br>
<% end %>

<%= render 'question_answer_form', question: @question %>
